
.Changelog {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  > * {
    margin: auto;
  }

  &__header {
    margin-top: 0;
  }
}
