
.Changelog {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  > * {
    margin: auto;
  }

  &__header {
    margin-top: 0;
  }

  .Spinner {
    margin-top: 50%;

    animation: slide-in 1s ease-out;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-50vw);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
