@mixin skeleton {
  background-size: 800px 100px;
  background: linear-gradient(to right, #eeeeee 10%, #dadada 50%, #eeeeee 100%);
  animation: skeleton-gradient 1.5s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.tippy-box[data-theme~='light'] {
  box-shadow: 0 0 15px #0000009c;
  background-color: white;
  border: 1px solid #D0D7DE;
}

.tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: white;
}

.tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: white;
}

.GitHubPopover {
  text-decoration: none;
}

.PullRequestCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;

  &--Error {
    font-size: 1.5em;
    align-content: center;
    color: #2F363D;
  }

  .Repository {
    font-size: 0.9em;
    color: #586069;

    &--Placeholder {
      width: 10ch;
      height: 2ch;
      @include skeleton;
    }
  }

  .Naming {
    font-size: 1.3em;
    font-weight: bold;

    &--Placeholder {
      margin-top: 5px;
      width: 25ch;
      height: 5ch;
      @include skeleton;
    }

    .Number {
      height: 15px;
      color: #959DA5;
    }
  
    .Title {
      height: 15px;
      color: #2F363D;
    }
  }

  .Misc {
    &--Placeholder {
      margin-top: 5px;
      width: 25ch;
      height: 5ch;
      @include skeleton;
    }

    .Avatar {
      max-width: 18px;
      max-height: 18px;
      vertical-align: middle;
      border-radius: 100%;
      margin-right: 5px;
    }

    .Author {
      color: black;
      font-weight: bold;
    }

    .CloseDate {
      color: #959da5;
    }
  }

  @keyframes skeleton-gradient {
    from {
      background-position: -100px;
    }

    to {
      background-position: 390px;
    }
  }
}
