$background-color: #000000bb;

.GoUp {
  position: sticky;
  align-self: flex-start;

  bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.25em;

  color: white;
  border: none;
  appearance: none;
  background-color: $background-color;
  backdrop-filter: blur(0.2rem);
  border-radius: 0.2rem;
  transition: all 250ms;
  transform: translateX(0);
  border: 1px solid #353535;
  cursor: pointer;

  &:hover {
    background-color: lighten($color: $background-color, $amount: 5);
  }

  &--hide {
    visibility: hidden;
    transform: translateX(-200%);
  }

  &:focus {
    animation: click 250ms ease-in-out;
  }

  @keyframes click {
    from {
      transform: scale(100%);
    }

    50% {
      transform: scale(50%);
    }

    to {
      transform: scale(100%);
    }
  }
}
