.Header {
  &__title {
    font-size: 1.8rem;
    text-align: center;
  }

  &__text {
    text-align: left;
    text-indent: 1.5rem;
    font-size: 1.2rem;
  }

  &__links {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    .HeaderLink {
      $link-color: white;

      margin-left: 1rem;
      margin-right: 1rem;
      color: $link-color;
      font-size: 3rem;
      text-decoration: none;

      &:hover {
        color: darken($color: $link-color, $amount: 15)
      }
    }
  }
}
