.ServersList {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  color: white;
  background-color: #22272e;

  a {
    text-decoration: none;
  }

  &__title {
    font-family: Consolas, monospace;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #20232a;
  }

  &__entry {
    font-family: Consolas, monospace;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &:before {
      content: '> ';
    }

    a {
      color: white;

      &:hover {
        color: #14d0ff;
        text-decoration: underline;
      }

      &:focus {
        color: #dda2ff;
      }
    }
  }
}
