.ServersList {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
  color: white;
  background-color: #22272E;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: #14d0ff;
    }

    &:focus {
      color: #dda2ff;
    }
  }

  &__entry {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
  }
}