.theme-onyx {
  &.ChangelogLayout {
    font-family: "Radiance", sans-serif;
    color: white;
    background-color: #22272e;
    gap: 1rem;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='675' height='1200' preserveAspectRatio='none' viewBox='0 0 675 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1284%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1291' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1291' x='0' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1284'%3e%3crect width='675' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1286'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1290'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1287'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1288'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1285'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1289'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1291'%3e%3cuse xlink:href='%23SvgjsPath1285' x='30' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='30' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='30' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='30' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='30' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='30' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='30' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='30' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='30' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='30' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='30' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='30' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='90' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='90' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='90' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='90' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='90' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='90' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='90' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='90' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='90' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='90' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='90' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='90' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='150' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='150' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='150' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='150' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='150' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='150' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='150' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='150' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='150' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='150' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='150' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='150' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='210' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='210' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='210' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='210' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='210' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='210' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='210' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='210' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='210' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='210' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='210' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='210' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='270' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='270' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='270' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='270' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='270' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='270' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='270' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='270' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='270' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='270' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='270' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='270' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='330' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='330' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='330' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='330' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='330' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='330' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='330' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='330' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='330' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='330' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='330' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='330' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='390' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='390' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='390' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='390' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='390' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='390' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='390' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='390' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='390' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='390' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='390' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='390' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='450' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='450' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='450' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='450' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='450' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='450' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='450' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='450' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='450' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='450' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='450' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='450' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='510' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='510' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='510' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='510' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='510' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='510' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='510' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='510' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='510' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='510' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='510' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='510' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='570' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='570' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='570' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='570' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='570' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='570' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='570' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='570' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='570' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='570' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='570' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='570' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='630' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='630' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='630' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='630' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='630' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='630' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='630' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='630' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='630' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='630' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='630' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='630' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='690' y='30' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='690' y='90' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='690' y='150' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1288' x='690' y='210' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1289' x='690' y='270' stroke='rgba(81%2c 104%2c 166%2c 0.2)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='690' y='330' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1290' x='690' y='390' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1285' x='690' y='450' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='690' y='510' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='690' y='570' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1287' x='690' y='630' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1286' x='690' y='690' stroke='rgba(81%2c 104%2c 166%2c 0.2)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
    background-repeat: repeat;
  }

  .ChangelogLayout {
    &__header {
      margin-bottom: 0;
      max-width: 120ch;

      h2 {
        font-size: 1.8rem;
        text-align: center;
      }

      p {
        text-align: left;
        text-indent: 1.5rem;
        font-size: 1.2rem;
      }

      .Links {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

        a {
          $link-color: white;

          margin-left: 1rem;
          margin-right: 1rem;
          color: $link-color;
          font-size: 3rem;
          text-decoration: none;

          &:hover {
            color: darken($color: $link-color, $amount: 15);
          }
        }
      }
    }

    &__body {
      margin-top: 0;
      max-width: 80ch;
      background-color: #22272e66;
      backdrop-filter: blur(2px);
      border-radius: 0.5rem;
      border: 1px solid #272f3b;
      animation: slide-in-y 1s ease-out;
    }

    @keyframes slide-in-y {
      from {
        transform: translateY(100vw);
        opacity: 0;
      }

      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .Changelog {
    &__date {
      margin-top: 2rem;
      margin-bottom: 1rem;
      border-bottom: 0.2rem solid #6b89da;
      padding: 0;
      outline: 0;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        background-color: #6b89da;
        border-radius: 2rem;
        font-weight: 600;
        margin-top: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &__author {
      margin: 0;
      padding-left: 0.5rem;
      font-style: italic;
    }

    .Changes {
      list-style: none;
      margin: 5px 0;
      padding: 0 1.5rem 0 1.5rem;
      font-size: 0.9em;
      overflow-wrap: anywhere;

      &__change {
        padding: 0.2rem 0 0.2rem 0.5rem;
        border-left: 0.2rem solid #999;
        margin-bottom: 0.4rem;

        p {
          display: inline;

          a {
            color: #14d0ff;
            border-bottom: 0.1rem dashed #14d0ff;
            text-decoration: none;

            &:hover {
              color: #a2ecff;
              border-bottom: 0.1rem dashed #a2ecff;
            }

            &:focus {
              color: #dda2ff;
              border-bottom: 0.1rem dashed #dda2ff;
            }
          }
        }
      }

      .green {
        border-left-color: #57ab5a;
        background: linear-gradient(90deg, rgba(87, 171, 90, 0.2) 0%, rgba(71, 139, 73, 0) 100%);
      }

      .red {
        border-left-color: #e5534b;
        background: linear-gradient(90deg, rgba(229, 83, 75, 0.2) 0%, rgba(158, 57, 52, 0) 100%);
      }

      .yellow {
        border-left-color: #daaa3f;
        background: linear-gradient(90deg, rgba(218, 170, 63, 0.2) 0%, rgba(150, 117, 44, 0) 100%);
      }

      i {
        margin-right: 1ch;
      }
    }
  }

  .PR {
    margin-left: 0.2rem;

    &__link {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.7rem;
      border-bottom: none;
      margin-left: 0;
      font-style: italic;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .Error {
    margin-top: 25vh;
    text-align: center;
    background-color: #ff000031;
    animation: slide-in 1s ease-out;
    padding: 0.8rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(0.2rem);
    font-size: 1.2em;
  }
}
